<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is home </h1>
    <h2>Author: {{author}}</h2>
    <h2>Age: {{age}}</h2>

    <h2>List: {{list}}</h2>
    {% comment %} Joining a list {% endcomment %}
    <h2>{{list|join:" "}}</h2> 

    {% comment %} Conditional Satement {% endcomment %}

    {% if age >= 20 %}
        <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4> You will not get driving license </h4>
    {% else %}
        <h4>You're a child</h4>
    {% endif %}

    {% comment %} For loop {% endcomment %}
    {% for i in courses %}
    <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
    {% endfor%}

    {% comment %} Date time {% endcomment %}
    <h5>{{ date | date:"D d M Y" }}</h5>

    {% comment %} Empty string {% endcomment %}
    <h3>{{empty_string | length}}</h3>

    <p>{{'Happy coding. I love to code' | truncatechars:13}}</p>

    <p>{{name | capfirst}}</p>

    <p>{{name | cut:" "}}</p>
    <p>{{empty_string | default:"Nothing"}}</p>
    <p>{{courses | dictsort:"name"}}</p>

    <p>{{courses | first}}</p>
    <p>{{courses | last}}</p>

    <p>{{name | lower}}</p>
    <p>{{name | upper}}</p>

    <p>{{name | make_list}}</p>
    <p>{{name_char | random}}</p>
    <p>{{name_char | slice:":4"}}</p>

    <p>{{name | slugify}}</p>
    <p>{{name | title}}</p>

    <p>{{ name | wordcount }}</p>

    <p> {{courses | length}}</p>
    <p> {{name | length}}</p>

    <p>{{date | time:"H:i"}}</p>

    


    
</body>
</html>