{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password change{% endblock title %}
{% block content %}
<form method="post" action="" style="width: 50%; height:50%; margin:auto;" novalidate>
    {% csrf_token %}
    <hr>
    <h1 style="text-align: center">Password change</h1>
    <hr>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{error}}</p>
    {% endfor %}
    {% endif %}
    
    <!-- {{ form|crispy }} -->
    
    {% for fm in form %}
        {{ fm.label_tag }}
        {{ fm }}
        <p class="text-danger">
            {{ fm.errors | striptags }}
        </p>
    {% endfor %}

    <br>
    <input class="btn btn-primary" type="submit" value="Make Change">
</form>
{% endblock content %}
